{% extends 'base.html' %}

{% block title %}
맛집 리스트 - 추가
{% endblock %}

{% block content %}
<div class="add_list">
<div>
<select  class="form-select" aria-label="Default select example" onchange="if(this.value) location.href=(this.value);">
    <option selected>추가 리스트</option>
    <option value="/add/add_res">맛집 추가</option>
    <option value="/add/add_list">추가한 맛집 리스트</option>
</select>
</div>
</div>

<div class='image'>
  <img class='image1' src="https://cdn.pixabay.com/photo/2021/02/06/19/29/pancakes-5989136_960_720.jpg">
</div>
{% endblock %}





