.image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.group1,
.group2,
.group3,
.group4{
    margin-top: 15px;
}

#add_matzip{
    margin-left: 120px;
    margin-right: 120px;
}

.btn-primary{
    margin-top: 30px;
}

.button{
    display: flex;
    justify-content: center;
}

.message{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.add_list {
    display:flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#add_table {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    }
