#search{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    }

form {
    display: flex;
    }

.univ_image {
    width: 140px;
    height: 140px;
    }

.img {
    display:flex;
}